<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/explain.css">

</head>


<body>
    <div class="columnasexplain">
        <div class="florenceimg">
            <img class="florence" src="../static/svg/florence.svg" alt="florence">
            <h4 class="datosex">Acontinuación procederemos con la toma de sus signos vitales y básicos.</h1><br><br>

                <button id="btn-iniDiag">INICIAR!</button>


        </div>
        <div class="infoExplain">

            <h1 class="h1ex">Signos Vitales</h1>
            <div class="infocard">
                <img class="temp" src="../static/svg/temp.svg" alt="florence">
                <p class="text">Temperatura Corporal</p>
            </div>

            <div class="infocard">
                <img class="temp" src="../static/svg/pulso.svg" alt="florence">
                <p class="text">Pulso</p>
            </div>

            <div class="infocard">
                <img class="temp" src="../static/svg/tensionArt.svg" alt="florence">
                <p class="text">Tension Arterial</p>
            </div>
            <div class="infocard">
                <img class="temp" src="../static/svg/saturacion.svg" alt="florence">
                <p class="text">Saturacion de Oxigeno</p>
            </div>
            <div class="infocard">
                <img class="temp" src="../static/svg/peso.svg" alt="florence">
                <p class="text">Peso Corporal</p>
            </div>
            <div class="infocard">
                <img class="temp" src="../static/svg/altura.svg" alt="florence">
                <p class="text">Altura Corporal</p>
            </div>














        </div>

    </div>

</body>

</html>