<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/index.css">

</head>


<body>
    <div class="columnas">
        <div class="florenceimg">
            <img src="../static/svg/florence.svg" alt="florence">
            <h1 class="datospp">DATOS</h1>

        </div>
        <div class="infoForm">
            <form>
                <label for="post-ndoc">Numero de Documento</label><br><br>
                <input id="post-ndoc" type="number" /><br><br>
                <label for="post-nombre">Nombres</label><br><br>
                <input id="post-nombre" type="text" /><br><br>
                <label for="post-aplldos">Apellidos</label><br><br>
                <input id="post-aplldos" type="text" /><br><br>
                <label for="post-email">Correo Electronico</label><br><br>
                <input id="post-email" type="email" /><br><br>
                <label for="post-tel">Numero telefonico</label><br><br>
                <input id="post-tel" type="tel" /><br><br>
                <label for="post-direcc">Direccion</label><br><br>
                <input id="post-direcc" type="text" /><br><br>
                <label for="post-sex">Sexo</label><br><br>
                <input id="post-sex" type="text" /><br><br><br>
                <button id="btn-pp" class="btn-pp">Siguiente!</button><br><br>

            </form>

        </div>

    </div>

</body>

</html>